.navbar-brand {
	height: auto;
}

.col-xs-12 {
	background-color: gray;
	margin-bottom: 10px;
}

#header-nav {
	background-color: gray;
}

h1 {
	color: black;
}

h3 {
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}